html {
    background-color: #E0DCD4;
}

div {
    border: 1px solid transparent;
}

body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    padding: 10px;
}

.wrapper {
    background-color: white;
    box-shadow: -3px 3px 5px 6px #ccc;
    width: 75%;
    margin: auto;
}

.navigation {
    padding: 0 26px 0 26px;
    height: 50px;
}

.logo {
    font-size: 24px;
    float: left;
    text-transform: uppercase;
    margin: 9px;
    font-weight: normal;
}

.logo span {
    font-weight: bold;
    color: #42576A;
}

.top-menu {
    list-style-type: none;
    margin: auto;
    float: right;
    word-spacing: 15px;
    padding-top: 10px;
}

.top-menu li {
    display: inline;
    font-size: 18px;
    color: #2f4f4f;
}

.header {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-color: #2f4f4f;
    margin: auto;
    padding: 98px;
    background-position: bottom center;
}

.header h1 {
    font-size: 66px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -2px 3px 3px black;
}

.header span {
    font-weight: lighter;
}

.content {
    text-align: center;
    margin: auto;
}

.content h2 {
    text-transform: uppercase;
    font-weight: lighter;
}

.content span {
    font-weight: bold;
}

.widgets {
    list-style-type: none;
    display:inline-flex;
    padding: 10px;
}

.widgets i {
    color: white;
    display:inline;
    background-image: url('../images/background.jpg');
    padding: 26px;
    border-radius: 50%;
    background-position: right bottom;
}

.widgets li {
    display: inline;
    padding-top: 10px;

}

.widgets h3 {
    font-size: 16px;
    font-weight: bold;
}

.widgets p {
    font-size: 12px;
}
